/* simplyCountdown custom overrides to match original responsiveness */
@media (max-width: 992px) {
  .simply-countdown > .simply-section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 5px;
  }
}

@media (max-width: 576px) {
  .simply-countdown > .simply-section {
    padding: 25px;
    margin: 3px;
  }
}
